.skills {
  font-family: "Source Sans Pro", sans-serif;
  margin-top: 40px;
}

.skills {
  text-align: center;
  font-size: 45pt;
  margin-top: 100px;
}

.skill-img {
  max-width: 50%;
  height: auto;
  padding-top: 60px;
}

@media (max-width: 768px) {
  .skillsList {
    position: relative;
    left: 5px;
  }
}

@media (max-width: 414px) {
  .skillsList {
    display: block;
    width: 55%;
    position: relative;
    left: 80px;
  }

  .skillsItem {
    width: 150px;
    height: 150px;
  }
}
