/* STYLING THE CONTACT ME ICONS TWITTER,LINKED,GITHUB, ETC */
.icons {
  background-color: #e0e1dd;
  border-color: white;
  color: black;
}

.icons:hover {
  transform: scale(1.25);
}

.projPix:hover {
  transform: scale(1.1);
}

.nav {
  font-family: "Montserrat", sans-serif;
  position: relative;
  bottom: 100px;
}
/* ABOUT ME SECTION STYLING/FORMATTING */
.aboutMeHeader {
  font-size: 36pt;
}

code {
  color: black;
}

.aboutMe,
.skills {
  font-family: "Source Sans Pro", sans-serif;
  margin-top: 40px;
}

.card:hover {
  box-shadow: 5px 5px #0d1b2a;
}

.btn {
  border-radius: 50px;
  margin: 0px 15px;
}

@media (max-width: 414px) {
  .aboutMeHeader {
    font-size: 20pt;
  }
  .aboutMeCard {
    margin: 10px;
  }
}

@media (max-width: 1024px) {
  .aboutMeCard {
    margin: 10px;
  }
}
