.toolsCards {
  margin-top: 40px;
  font-family: "Source Sans Pro", sans-serif;
}

.toolHeader {
  font-size: 20pt;
  font-weight: bold;
}

.createList {
  list-style: none;
  display: inline-flex;
  justify-content: space-evenly;
}

.miroIcon,
.gitHubIcon {
  width: 50px;
  margin-top: 8px;
}

.listIcons2 {
  width: 50px;
  margin-top: 10px;
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .toolHeader {
    font-size: 14pt;
    font-weight: bold;
  }
  .toolCol {
    /* height: 200px;
      width: 300px; */
    margin-bottom: 20px;
  }
}

@media (max-width: 414px) {
  .toolHeader {
    font-size: 14pt;
    font-weight: bold;
  }
  .toolsCards {
    margin-left: 5px;
  }
}

@media (max-width: 1024px) {
  .toolHeader {
    font-size: 14pt;
    font-weight: bold;
  }
}
