.airTableForm {
  background: transparent;

  margin-top: 70px;
}

.contactTitle {
  text-align: center;
  font-size: 40pt;
  font-family: "Source Sans Pro", sans-serif;
}

#contactP {
  text-align: center;
  font-size: 20pt;
  font-family: "Source Sans Pro", sans-serif;
}

.projBtns {
  border-radius: 15px;
  margin: 5px;
  font-family: "Source Sans Pro", sans-serif;
  background-color: black;
  font-size: 16pt;
  font-weight: bold;
}

.projLinks {
  color: #e26d5c;
}

button:hover,
a:hover {
  color: white;
  opacity: 0.5;
  cursor: pointer;
}

@media (max-width: 414px) {
  .contactTitle {
    font-size: 30pt;
  }
  #contactP {
    margin: 12pt;
  }
}
