.personalHeader {
  font-size: 36pt;
}

.personalAboutMe {
  font-family: "Source Sans Pro", sans-serif;
  margin-top: 20px;
}

.card:hover {
  box-shadow: 5px 5px #0d1b2a;
}

@media (max-width: 414px) {
  .personalHeader {
    font-size: 20pt;
  }
  .personalCard {
    margin: 10px;
  }
}
